-----------------------------------------------------------
  HI   : Say hello to the bot.

  REC  : The bot provides a dinner menu recommendation.
         The bot will randomly recommend menus!
         Then you must eat today!!

  GAME : Play a game of Scissors, Rock, Paper with the bot.
         Please enter 가위(1), 바위(2), and 보(3).

         Syntax: GAME [1/2/3]
-----------------------------------------------------------
