---------------------------------------------------
 '
    .    _    *    \|/   .      .  -*-          +
      .' \\`.   +  -*-     *  .     '   .   *
   .  |__''_|  .   /|\ +    .    +    .         |
      |     | .                          .     -*-
      |     |        `  .   '    . *   .    +    '
    _.'-----'-._    *              . jihylim,joyoo
  /             \__.__.--._______________     2024
 /
---------------------------------------------------
