--------------------------------------------------
'
   .    _    *    \|/   .      .  -*-          +
     .' \\`.   +  -*-     *  .     '   .   *
  .  |__''_|  .   /|\ +    .    +    .         |
     |     | .                          .     -*-
     |     |        `  .   '    . *   .    +    '
   _.'-----'-._    *              . jihylim,joyoo
 /          apc\__.__.--._______________    2024
/
--------------------------------------------------
